.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  margin: 30px;
  font-size: 18px;
  height: 65px;
  width: 250px;
  border-radius: 10px;
  border: none;
  box-shadow: 1px 1px 0px 2px rgba (0,0,0,0.3);
  background: rgb(254, 247, 237);
   cursor: pointer;
 }
 select {
  margin: 30px;
  font-size: 18px;
  height: 65px;
  width: 250px;
  border-radius: 10px;
  border: none;
  text-align-last:center;
  box-shadow: 1px 1px 0px 2px rgba (0,0,0,0.3);
  background: rgb(254, 247, 237);
   cursor: pointer;
 }
 .avatar-img {
  width: 50%;
  height: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  }
  
  .rounded-circle {
  border-radius: 50%!important;
  }

  .titlescreen {
    display: flex; 
    background-color: rgb(73,81,95);
    margin-bottom: 5vh;
    padding-left: 20vh;
    padding-right: 20vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    vertical-align: middle;
    border-radius: 15px;
  }
  .title {
    margin: auto; /* Important */ 
    text-align: center;
  }
  .topleft {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 18px;
  }
  .leaveButton {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 18px;
  }
  svg {
    transform: scale(0.2);
    position: absolute;
    top: 0px;
    left: 0px;
    margin-top: 1px;
  }
  .answer {
    font-weight:bold;
    font-style:italic;
  }